#Detrack API Key associated with your account.
#Do enclose in quotes
DETRACK_TESTING_API_KEY=""

#Sample delivery details
#If you want to test downloading POD, you need to manually create a job on the Detrack Dashboard,
#then download the Detrack App as a driver and upload your own POD images for testing,
#since there is currently no public API for marking deliveries as complete.
SAMPLE_DELIVERY_DO=""
SAMPLE_DELIVERY_DATE=""

#How many POD images you have uploaded, 1 to 5.
#You must enter the exact number as the test suite will assert for the specified amount of POD images.
SAMPLE_DELIVERY_POD_COUNT="1"
#OPTIONAL: Directory to save download POD test images to. Add a trailing slash. Ensure that directory is writable.
SAMPLE_DELIVERY_POD_SAVE_DIR=""

#Test driver id
#Install the Detrack Driver App on a test mobile device and enter it here.
TEST_DRIVER_ID="fa64e47211c9014d"
TEST_DRIVER_2_ID="16498ce7b1520abb"
